<body>
<div id="carouselExampleControls" class="carousel slide mb-5" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100 "
                src="https://img4.thuthuatphanmem.vn/uploads/2020/12/25/background-ca-phe-don-gian-ma-dep_034344301.jpg"
                alt="First slide" height="800">

        </div>
        <div class="carousel-item">
            <img class="d-block w-100 "
                src="https://img4.thuthuatphanmem.vn/uploads/2020/12/25/background-ca-phe-chuyen-nghiep_034337030.jpg"
                alt="Second slide" height="800">
        </div>


    </div>
</div>
<div class="container">
    <span class="menu ">MENU</span>
    <div class="card-container row mt-5 mb-5 ">
        {{#each this.Drink}}
        <div class="col-4">
            <a href="/product?id={{proID}}"> <img src="{{proImage}}"
                class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h5  class="card-title">{{proName}} </h5></a>
                <p  class="card-text">{{proPrice}}.000 VND</p>
                <a href="/cart" class="btn btn-warning">Buy Now</a>
                <a href="/product?id={{proID}}" class="btn btn-outline-warning ml-2">More</a>
            </div>
        </div>
        {{/each}}
    </div>

</div>  
</body>